@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+BR:wght@100..400&family=Playwrite+US+Modern:wght@100..400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: url(../Landingpage/backgrond.jpg) no-repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
    filter: brightness(1);
}

/* Nav-Bar */
nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
}

nav::before {
    content: '';
    top: 90%;
    position: absolute;
    height: 1.5px;
    width: 100%;
    background: #ffffff;
    opacity: 0.5;
}

nav ul {
    display: flex;
    padding-left: 20vw;
    margin-right: 2vw;
}

nav ul li {
    list-style: none;
    margin: 0px 30px;
    font-size: 18px;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.logo {
    margin: 6px 40px;
    padding: 7px 0px;
}

.logo .icon {
    width: 150px;
    height: 45px;
}

.hamburger .ham {
    width: 30px;
}

.hamburger .ham:hover {
    cursor: pointer;
}

/* Title Section */

.title {
    z-index: 1;
    position: relative;
    margin: 10px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1 {
    color: #ffffff;
    font-size: 4em;
    letter-spacing: 8px;
    font-weight: bolder;
    font-family: "Playwrite BR", cursive;
}

.title p {
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.title a {
    padding: 3px 8px;
    text-decoration: none;
    border: 1px solid rgb(58 52 52 / 30%);
    background: rgb(217 157 56 / 82%);
    outline-style: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.title a:hover {
    color: #61326dde;
    background: rgba(152, 240, 185, 0.849);
}

/*Side Bar */

.side-bar {
    z-index: 2;
    position: absolute;
    width: 5%;
    top: 165px;
    right: 0px;
}

.side-bar::before {
    position: absolute;
    content: '';
    left: 0px;
    top: -200px;
    height: 107vh;
    width: 1.5px;
    background: #ffffff;
    opacity: 0.5;
}

.side-bar .social-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-bar .social-icon ul {
    list-style: none;
    text-align: center;
}

.side-bar .social-icon ul li {
    margin-bottom: 25px;
}

.side-bar .social-icon ul a {
    text-align: center;
}

.side-bar .social-icon ul a img {
    width: 25px;
    filter: invert(0.2);
}

.side-bar .social-icon ul a img:hover {
    filter: invert(0);
}

/* Footer Section */

.tourist-place {
    position: absolute;
    right: 6%;
    width: 80%;
    height: 35vh;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.2rem 5rem;
    align-items: center;
}

.tourist-place .item {
    padding-top: 20px;
    transition: 0.5s cubic-bezier(0, 0.57, 0, 1.05);
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
}

.tourist-place .item:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 10%;
    width: .7px;
    height: 90%;
    background: #ffffff;
    opacity: 0.6;
}

.tourist-place .item::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 12%;
    width: 80%;
    height: 0.75px;
    background: #ffffff;
    opacity: 0.5;
}

.tourist-place .item .hover-bar {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ffffff;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s cubic-bezier(0.23, 1.85, 0.4, 0.43);
}

.image-box {
    height: 50px;
}

.image-box .picture {
    width: 246px;
    height: 160px;
    object-fit: cover;
}

.tourist-place .item:hover .hover-bar {
    opacity: 1;
    visibility: visible;

}

.tourist-place .item:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.tourist-place .item p {
    transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
    color: #ffffff;
    opacity: 0.8;
    margin: 0px 0px 15px 0;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
}

.tourist-place .item a {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1.2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.tourist-place .item:hover a {
    opacity: 1;
    visibility: visible;
}

.tourist-place .item:hover p {
    transform: translateY(-50%);
    opacity: 1;
}

.tourist-place .item:hover .img-box {
    transform: translateY(-10%);
}